body {
  /*background-image:url(../img/burger.jpg) ;
    background-repeat: no-repeat;
    background-position:center ;*/
  width: 100vh;
  height: 100vh;
  background: url(../img/burger.png) center center no-repeat;
  background-color: #f7f7f7;
}

.burger {
  /* display: block; */
  /* border: 3px solid green; */
  border: 5px solid #ffc341;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: rgba(76, 175, 80, 0.75); */
  background: rgba(16, 5, 0, 0.8);
  padding: 2%;
}

.burger h1 {
  /* color: red; */
  /* color: #cacfd6; */
  color: #09769a;
}
.lists {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 55px;
  margin-right: 55px;
}

#submitBtn {
  /* background-color: blue; */
  /* background-color: #5d6798; */
  background-color: #ffc341;
  color: white;
  border: none;
  text-align: center;
  padding: 15px 25px 15px 25px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

.devourBtn, .deleteBtn {
  /* background-color: blue; */
  background-color: #5d6798;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  margin-left: 10px;
  color: white;
  border: none;
}

.deleteBtn {
    background-color: red;
}
#name {
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 0;
}

.listTitle {
  /* color: red; */
  color: #cacfd6;
  font-size: 18px;
  font-family: "Times New Roman";
  font-weight: bold;
  text-align: center;
}

 /*.burgerBtn {
  justify-content: flex-end; 
   width: 50%; 
}*/

li {
  /* color: aqua; */
  color: #7eb2dd;
  margin-bottom: 5px;
  font-family: "Arial";
  font-weight: bold;
  text-align: left;
  justify-content: flex-end;
}

  /*li p {
 border-color: aqua;
  border-width: 3px;
   
  border: 3px solid #ffc341;
  padding: 6px;
}

li p.burgerBtn {
  width: 50%;
}*/
